<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs")  %>
<body>
  <%- include("./partials/nav.ejs")  %>


  <div class="blogs content">
    <h2>all blogs</h2>
    <h3>No.5 11:39 25/11/2023      consectetur adipisicing elit. Ducimus similique nisi iust</h3>
  
   

                                               
                                                                     
    <%- include("./partials/footer.ejs")  %>                                                               
                                                                   
  </div>
</body>
</html>